legacy-peer-deps=true
# 约束使用pnpm作为包管理器
engine-strict=false
packageManager=pnpm@>=10.0.0
# 允许构建的依赖
pnpm.onlyBuiltDependencies=esbuild @scarf/scarf core-js core-js-pure protobufjs nice-napi unrs-resolver es5-ext @antv/l7-react @google/genai puppeteer-core